<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="is_crm_main_menu"
        name="CRM"
        sequence="1"
    />
    <menuitem
        id="is_client_menu"
        name="Clients"
        parent="is_crm_main_menu"
        sequence="10"
        action="is_client_action"
    />
    <menuitem
        id="is_affaire_menu"
        name="Affaires"
        parent="is_crm_main_menu"
        sequence="20"
        action="is_affaire_action"
    />


    <!-- Serveurs -->
    <menuitem
        id="is_serveur_main_menu"
        name="Serveurs"
        parent="is_crm_main_menu"
        sequence="25"
    />
    <menuitem
        id="is_serveur_menu"
        name="Serveurs"
        parent="is_serveur_main_menu"
        sequence="10"
        action="is_serveur_action"
    />
    <!-- <menuitem
        id="is_serveur_simplifie_menu"
        name="Serveurs (Affichage simplifié)"
        parent="is_serveur_main_menu"
        sequence="20"
        action="is_serveur_simplifie_action"
    />
 -->
    <menuitem
        id="is_systeme_menu"
        name="Systèmes"
        parent="is_serveur_main_menu"
        sequence="900"
        action="is_systeme_action"
    />
    <menuitem
        id="is_type_vps_menu"
        name="Types de VPS"
        parent="is_serveur_main_menu"
        sequence="910"
        action="is_type_vps_action"
    />
    <menuitem
        id="is_service_menu"
        name="Services"
        parent="is_serveur_main_menu"
        sequence="920"
        action="is_service_action"
    />





    <menuitem
        id="is_main_facture_menu"
        name="Factures"
        parent="is_crm_main_menu"
        sequence="30"
    />
    <menuitem
        id="is_facture_menu"
        name="Factures"
        parent="is_main_facture_menu"
        sequence="10"
        action="is_account_invoice_action"
    />
    <menuitem
        id="is_account_invoice_line_menu"
        name="Lignes de factures"
        parent="is_main_facture_menu"
        sequence="20"
        action="is_account_invoice_line_action"
    />


    <menuitem
        id="is_statistique_menu"
        name="Statistiques"
        parent="is_crm_main_menu"
        sequence="40"
    />
    <menuitem
        id="is_account_invoice_month_pivot_menu"
        name="Factures par client et par mois"
        parent="is_statistique_menu"
        sequence="10"
        action="is_account_invoice_month_pivot_action"
    />
    <menuitem
        id="is_account_invoice_year_pivot_menu"
        name="Factures par client et par an"
        parent="is_statistique_menu"
        sequence="20"
        action="is_account_invoice_year_pivot_action"
    />





</odoo>
